*~
.Rhistory
.RData
.Rproj
.DS_Store
.Rproj.user

# excludes all top level Rmd files
/*.Rmd

# revdep reports
revdep/.*

# ignore all nonstandard data types
data/*.rds
data/*.csv
data/vis_correlation_all_judgements.rda$
/doc/
/Meta/

# ignores all non-standard files in docs/deps
!docs/deps/Georgia-0.4.9/*.css
!docs/deps/Nunito_Sans-0.4.9/*.css
