.navbar {
  height: 80px !important;
  background-color: #F6F6F6 !important;
}

.row>main, .row>aside {
  margin-top: 48px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 4rem !important;
  font-weight: 700 !important;
}

.contents h4 {
	padding-top: 48px !important; 
}

#pkgdown-sidebar {
	font-size: 1em;
	color: #bbb;
	display: inline;
	padding-right: 0.5em;
}

body {
	font-size: 16px;
}

div.sourceCode {
	margin: 1em 0em 1.5em 0em;
}

#pkgdown-sidebar div {
	margin-bottom: 2em;
}

#pkgdown-sidebar .list-unstyled li {
	color: #333333;
	margin-bottom: 1em;
}

a {
	color: #E35F7E;
	text-decoration: none;
}

a:hover,
a:focus, 
a:active {
	color: #CC3F60;
	text-decoration: underline;
}

div.sourceCode > button {
  padding: 6px 12px !important;
}

div.sourceCode > button > i {
  color: #FFFFFF !important;
}

pre {
  border: 1px solid #dee2e6 !important;
}