.r.multiverse {
	background-color: #EDF2F5;
}

:not(.r).multiverse {
  background-color: #FFFFFF;
}


:not(.default).multiverse {
   display: none;
}

.TKSwitch {
  color: #46f;
  border-bottom: 1px dashed #46f;
  user-select: none;
  cursor: pointer;
}

.multiverse-spec {
  display: none;
}

.multiverse-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  padding: 24px 24px 12px 24px;
  background-color: #fafafa;
  width: 100%;
  box-shadow: 0px 2px 4px #979797;
}